#banner_image{
	padding-top:75px;
	padding-bottom:50px;
	text-align:center;
	color:#f8f8f8;
	background:url(intro-bg_1.jpg) no-repeat center center;
	background-size:cover;
}
.banner_content{
	position:relative;
	
	left:50%;
	transform:translate(-50%);
	padding-top:6%;
	padding-bottom:6%;
	margin-top:14%;
	margin-bottom:14%;
	background-color:rgba(0,0,0,0.7);
	max-width:660px;
}
footer{
	padding:10px 0;
	background-color:#101010;
	color:#9d9d9d;
	bottom:0;
	width:100%;
}